[Desktop Entry]
Encoding=UTF-8
Name=Create live usb
Name[ca]=
Name[de]=
Name[el]=
Name[es]=Crear Live USB
Name[fr]=Créer LiveUSB
Name[it]=
Name[ja]=
Name[nl]=Creëer Live USB
Name[ro]=
Name[ru]=Создать Live USB
Name[sv]=Skapa Live USB
Comment= Make a persistent live usb device
Comment[ca]=
Comment[de]=
Comment[el]=
Comment[es]=Crea un live USB con persistencia
Comment[fr]=Créer un USB autonome avec persistance
Comment[it]=
Comment[ja]=
Comment[nl]=Maak een persistent live USB apparaat
Comment[ro]=
Comment[ru]=Создать обновленное устройство live USB
Comment[sv]=Skapa en persistent live USB enhet
Exec=gksu "modprobe loop; antix2usb.py"
Icon=drive-removable-media-usb
Terminal=false
Type=Application
Categories=Utility;MX-Live;
NoDisplay=False
